th,td{
    text-align: center;
}

#yellow{
    background-color: rgb(245, 229, 5);
}

tfoot{
    background-color: rgb(245, 9, 9);
    color: aliceblue;
}

table{
    border-width: 8px;
    border-color: blue;
}

caption{
    height: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

